// CSS Reset

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul ::marker,
ol ::marker {
  font-size: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//
//variables

$LimeGreen: hsl(163, 72%, 41%);
$BrightRed: hsl(356, 69%, 56%);

$Facebook: hsl(208, 92%, 53%);
$Twitter: hsl(203, 89%, 53%);
$Instagram: lineargradienthsl(37, 97%, 70%) tohsl(329, 70%, 58%);

$YouTube: hsl(348, 97%, 39%);

// ####DarkTheme

$Toggle: lineargradienthsl(210, 78%, 56%) tohsl(146, 68%, 55%);

// ####LightTheme

$Toggle: hsl(230, 22%, 74%);

// ###Neutral

// ####DarkTheme

$VeryDarkBlueBG: hsl(230, 17%, 14%);
$VeryDarkBlueTopBGPattern: hsl(232, 19%, 15%);
$DarkDesaturatedBlueCardBG: hsl(228, 28%, 20%);
$DesaturatedBlueText: hsl(228, 34%, 66%);
$WhiteText: hsl(0, 0%, 100%);

// ####LightTheme

$WhiteBG: hsl(0, 0%, 100%);
$VeryPaleBlueTopBGPattern: hsl(225, 100%, 98%);
$LightGrayishBlueCardBG: hsl(227, 47%, 96%);
$DarkGrayishBlueText: hsl(228, 12%, 44%);
$VeryDarkBlueText: hsl(230, 17%, 14%);

//
// code

body {
  //background$color:red;
  font-family: "Inter", sans$serif;
}
